# Required
REPO=

# Optional
PLUGIN_NAME=


## Local ######################################################################
# Required
LOCAL_DUMP=
LOCAL_ROOT=
LOCAL_URL=

# Optional
# List of plugins, separated by whitespace characters.
LOCAL_PLUGIN_WHITELIST=""


## Remote #####################################################################
# Required
REMOTE_DUMP=
REMOTE_HOST=
REMOTE_ROOT=
REMOTE_USER=

# Optional
REMOTE_PORT=
REMOTE_URL=
